{% extends "layout.html" %}

{% macro render_field(field) %}
<div> {{ field.label }}<br><br>

    <div>{{ field(class="form-control") }}</div>
</div>
{% if field.errors %}
<ul class="errors">{% for error in field.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endmacro %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-md-4"></div>
        <div class="col-xs-6 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p style="text-align: center">
                        <strong> ثبت پرسش‌نامه جدید</strong>
                    </p>
                </div>
                <div class="panel-body" div style="color:#083C32">
                    <form method=post action="/addQuestionnaire">
                        <dl style="font-family: BYekan">
                            {{ render_field(form.subject) }}
                            {{ render_field(form.moreInfo) }}
                            {{ render_field(form.stimuli) }}
                        </dl>
                        <p><input type=submit class="btn btn-success btn-block" style="font-family: BYekan" value=تایید>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

