{% extends "layout.html" %}


{% block header %}
<style>
    .uploader {
        position: relative;
        overflow: hidden;
        width: 300px;
        height: 350px;
        background: #f3f3f3;
        border: 2px dashed #e8e8e8;
    }

    #filePhoto {
        position: absolute;
        width: 300px;
        height: 400px;
        top: -50px;
        left: 0;
        z-index: 2;
        opacity: 0;
        cursor: pointer;
    }

    .uploader img {
        position: absolute;
        width: 302px;
        height: 352px;
        top: -1px;
        left: -1px;
        z-index: 1;
        border: none;
    }
</style>
{% endblock %}

{% macro render_field(field) %}
<div> {{ field.label }}<br><br>

    <div>{{ field(class="form-control") }}</div>
</div>
{% if field.errors %}
<ul class="errors">{% for error in field.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endmacro %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-md-3"></div>
        <div class="col-xs-6 col-md-6">
            <div class="panel panel-default">
                <form onsubmit="setPicture()">
                <div class="panel-heading">
                    <h5 style="text-align: center;">
                        <strong>افزودن تصویر به واژه‌ها</strong>
                    </h5>
                    <br><br>

                    <div style="height: 55px"
                         class="form-group form-group-default form-group-default-select2">
                        <label>انتخاب واژه</label>
                        <select id="phraseIdList" class="full-width"
                                data-init-plugin="select2" required>
                        </select>
                    </div>
                </div>
                <div class="panel-body" style="color:#083C32;">
                    <div class="col-md-10">
                        <div class="uploader" onclick="$('#filePhoto').click()">
                            برای بارگذاری تصویر اینجا کلیک کنید یا تصویر را در این قسمت قرار دهید.
                            <img id="picture" src=""/>
                            <input type="file" id="filePhoto" accept="image/*" required/>
                        </div>
                        <br>

                        <div class="col-md-9">
                            <input type="submit" class="btn"
                                   value="ثبت تصویر"/>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block js %}
<script type="text/javascript">

    setPhraseList();
    var imageLoader = document.getElementById('filePhoto');
    imageLoader.addEventListener('change', handleImage, false);


    function handleImage(e) {
        var reader = new FileReader();
        reader.onload = function (event) {
            $('#picture').attr('src', event.target.result);
        };
        reader.readAsDataURL(e.target.files[0]);
    }


    function setPhraseList() {
        var phraseIdListElement = document.getElementById("phraseIdList");
        for (i = phraseIdListElement.options.length - 1; i >= 0; i--) {
            phraseIdListElement.options[i].selected = false;
            phraseIdListElement.options[i] = null;
        }
        $.ajax({
            type: "POST",
            url: '/getPhrases',
            data: JSON.stringify(
                    {
                        questionnaire_id: '{{ questionnaire_id }}'
                    }
            ),
            contentType: 'application/json;charset=UTF-8',
            success: function (result) {

                var phraseList = result['phraseList'];
                $("#phraseIdList").append(new Option());
                for (i = 0; i < phraseList.length; i++) {
                    $("#phraseIdList").append(new Option(phraseList[i]['content'], phraseList[i]['id']));
                }
            }
        });
    }
    function setPicture() {
        var phraseId = $('#phraseIdList').val();
        var picture = document.getElementById('picture').src;
        var questionnaireId = '{{ questionnaire_id }}';

        $.ajax({
            type: "POST",
            url: '/setPicture',
            data: JSON.stringify({
                questionnaire_id: questionnaireId,
                phrase_id: phraseId,
                picture: picture
            }),
            contentType: 'application/json;charset=UTF-8',
            success: function (result) {
                document.getElementById('picture').removeAttribute('src');
                $("#phraseIdList").select2("val", "");
                setPhraseList();
            }
        });
    }
</script>
{% endblock %}