{% extends "layout.html" %}

{% macro render_field(field) %}
<div> {{ field.label }}<br><br>

    <div>{{ field(class="form-control") }}</div>
</div>
{% if field.errors %}
<ul class="errors">{% for error in field.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endmacro %}

{% block header %}
<style>
    .disabledCalendar {
        pointer-events: none;
        opacity: 0.4;
    }
    .stepwizard-step p {
        margin-top: 10px;
    }

    .stepwizard-row {
        display: table-row;
    }

    .stepwizard {
        display: table;
        width: 50%;
        position: relative;
    }

    .stepwizard-row:before {
        top: 14px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 100%;
        height: 1px;
        background-color: #ccc;
        z-order: 0;
    }

    .stepwizard-step {
        display: table-cell;
        text-align: center;
        position: relative;
    }

    .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
        background-color: #87cefa;
    }

    #sourceRadioButton .notActive {
        color: #3276b1;
        background-color: #fff;
    }

    #ex1Slider .slider-selection {
        background: #BABABA;
    }
</style>
{% endblock %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-sm-6">
            <div class="panel panel-transparent">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-tabs-linetriangle" data-init-reponsive-tabs="dropdownfx">
                    <li class="active">
                        <a data-toggle="tab" href="#addGraph"><span>افزودن گراف</span></a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="addGraph">
                        <div class="container-fluid container-fixed-lg">
                            <div class="stepwizard col-md-offset-3" style="width: 100%">
                                <div class="stepwizard-row setup-panel">
                                    <div class="stepwizard-step">
                                        <a href="#step-1" type="button" class="btn btn-primary btn-circle">I</a>

                                        <p style="font-weight: bolder;">انتخاب داده</p>
                                    </div>
                                    <div class="stepwizard-step">
                                        <a href="#step-2" type="button" class="btn btn-default btn-circle"
                                           disabled="disabled">II</a>

                                        <p style="font-weight: bolder;">انتخاب پارامتر‌ها</p>
                                    </div>
                                    <div class="stepwizard-step">
                                        <a href="#step-3" type="button" class="btn btn-default btn-circle"
                                           disabled="disabled">III</a>

                                        <p style="font-weight: bolder;">تکمیل و ثبت</p>
                                    </div>
                                </div>
                            </div>
                            <form role="form" action="" method="post">
                                <div class="row setup-content" id="step-1">
                                    <div class="form-group" style="padding-top: 30px; padding-bottom: 30px">
                                        <div>
                                            <label>محدودیت در بازه زمانی </label>
                                            <input type="checkbox" data-init-plugin="switchery" data-size="small"
                                                   onchange="radioButtonTimePicker()" data-color="complete"/>

                                            <div class="pull-right disabledCalendar"
                                                 style="background: #fff; cursor: pointer; padding: 5px 10px; width: 100%; border: solid lightgray 1px; border-radius: 5px;"
                                                 id="reportrange">
                                                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                                                <span></span> <b class="caret"></b>
                                            </div>
                                        </div>
                                        <br>

                                        <div style="text-align: center; margin: 10px">
                                            <div id="sourceRadioButton" class="btn-group">
                                                <button id="tagsButton" class="btn btn-complete notActive"
                                                        data-toggle="source" data-title="tags"><span
                                                        id="postCount"></span> پست <br> از سایت اینستاگرام
                                                </button>
                                                <button id="responsesButton" class="btn btn-complete notActive"
                                                        data-toggle="source" data-title="responses"><span
                                                        id="responseCount"></span> پاسخ <br>از کاربران تارواژه
                                                </button>
                                            </div>
                                            <input type="hidden" name="source" id="source">
                                        </div>
                                    </div>
                                    <button id="1stepButton" class="btn btn-success nextBtn pull-right" disabled
                                            type="button">مرحله بعد
                                    </button>
                                </div>
                                <div class="row setup-content" id="step-2">
                                    <div class="form-group" style="padding-top: 30px; padding-bottom: 30px">
                                        <div class="col-md-12"
                                             style="border: 1px solid; border-color: lightgray; border-radius: 5px; margin: 10px">
                                            <div class="col-md-6">
                                                <label>کمینه‌ی تعداد کاربران موثر روی گره: </label><label
                                                    id="minUserOnNode_value">1</label>
                                                <input onchange="updateThresholds()" id="minUserOnNode" type="range"
                                                       min="1" max="50" step="1" value="1" data-orientation="vertical">
                                            </div>
                                            <div class="col-md-6">
                                                <label>کمینه‌ی تعداد کاربران موثر روی یال: </label><label
                                                    id="minUserOnEdge_value">1</label>
                                                <input onchange="updateThresholds()" id="minUserOnEdge" type="range"
                                                       min="1" max="20" step="1" value="1" data-orientation="vertical">
                                            </div>
                                            <div class="col-md-6">
                                                <label>جهت‌دار: </label>
                                                <input id="isDirected" type="checkbox">
                                            </div>
                                            <div class="col-md-6">
                                                <label>کمینه‌ی وزن یال: </label><label
                                                    id="minEdgeWeight_value">0</label>
                                                <input onchange="updateThresholds()" id="minEdgeWeight" type="range"
                                                       min="0" max="1" step="0.05" value="0"
                                                       data-orientation="vertical">
                                            </div>
                                        </div>
                                        <div class="col-md-12"
                                             style="border: 1px solid; border-color: lightgray; border-radius: 5px; margin: 10px">
                                            <label>تعداد نودها: </label><label id="nodeCount_value"></label><br>
                                            <label>تعداد یال‌ها: </label><label id="edgeCount_value"></label><br>
                                            <label>میانگین درجه: </label><label id="averageDegree_value"></label>
                                            <br>
                                        </div>
                                    </div>
                                    <button onclick="justMakeGraph()" id="graphCalculateButton" class="btn btn-info"
                                            type="button">محاسبه ابعاد گراف
                                    </button>
                                    <img id="processImg1" class="image-responsive-height demo-mw-50"
                                         src="../static/assets/img/demo/progress.svg" style="visibility:hidden;"
                                         alt="Progress">
                                    <button id="2stepButton" class="btn btn-success nextBtn pull-right"
                                            type="button">مرحله بعد
                                    </button>
                                </div>
                                <div class="row setup-content" id="step-3">
                                    <div style="padding-top: 30px; padding-bottom: 30px">
                                        <form>
                                            <label class="control-label">نام گراف</label>
                                            <input autocomplete="off" id="name" maxlength="50" type="text" required
                                                   class="form-control">
                                            <label class="control-label">توضیحات</label>
                                            <textarea autocomplete="off" id="moreInfo" maxlength="150" required
                                                      class="form-control"></textarea>
                                        </form>
                                    </div>
                                    <img id="processImg2" class="image-responsive-height demo-mw-50"
                                         src="../static/assets/img/demo/progress.svg" style="visibility:hidden;"
                                         alt="Progress">
                                    <button id="3stepButton" onclick="makeAndSaveGraph()"
                                            class="btn btn-success pull-right" type="submit">
                                        ایجاد گراف
                                    </button>
                                </div>
                            </form>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block js %}
<script type="text/javascript">

    var start, end;
    var timeLimitation = false;

    /////////////////////////////////manage steps///////////////////////////////////
    $(document).ready(function () {
        var navListItems = $('div.setup-panel div a'),
                allWells = $('.setup-content'),
                allNextBtn = $('.nextBtn'),
                allPrevBtn = $('.prevBtn');

        allWells.hide();

        navListItems.click(function (e) {
            e.preventDefault();
            var $target = $($(this).attr('href')),
                    $item = $(this);

            if (!$item.hasClass('disabled')) {
                navListItems.removeClass('btn-primary').addClass('btn-default');
                $item.addClass('btn-primary');
                allWells.hide();
                $target.show();
                $target.find('input:eq(0)').focus();
            }
        });

        allPrevBtn.click(function () {
            var curStep = $(this).closest(".setup-content"),
                    curStepBtn = curStep.attr("id"),
                    prevStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().prev().children("a");

            prevStepWizard.removeAttr('disabled').trigger('click');
        });

        allNextBtn.click(function () {
            var curStep = $(this).closest(".setup-content"),
                    curStepBtn = curStep.attr("id"),
                    nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
                    curInputs = curStep.find("input[type='text'],input[type='url']"),
                    isValid = true;

            $(".form-group").removeClass("has-error");
            for (var i = 0; i < curInputs.length; i++) {
                if (!curInputs[i].validity.valid) {
                    isValid = false;
                    $(curInputs[i]).closest(".form-group").addClass("has-error");
                }
            }

            if (isValid)
                nextStepWizard.removeAttr('disabled').trigger('click');
        });

        $('div.setup-panel div a.btn-primary').trigger('click');
    });


    /////////////////////////////////////first step///////////////////////////////////////////

    //datetime picker
    $(function () {

        start = moment().subtract(29, 'days');
        end = moment();

        function cb(startTime, endTime) {

            $('#reportrange span').html(startTime.format('D MMMM YYYY') + ' - ' + endTime.format('D MMMM YYYY'));

            start = startTime;
            end = endTime;

            getDataCountAndResetFields();
        }

        $('#reportrange').daterangepicker({
            startDate: start,
            endDate: end,
            ranges: {
                'امروز': [moment(), moment()],
                'هفت روز اخیر': [moment().subtract(6, 'days'), moment()],
                'سی روز اخیر': [moment().subtract(29, 'days'), moment()],
                'ماه جاری': [moment().startOf('month'), moment().endOf('month')]
            }
        }, cb);

        cb(start, end);

    });
    //radio button
    $('#sourceRadioButton button').on('click', function () {

        document.getElementById('1stepButton').disabled = false;

        var sel = $(this).data('title');
        var tog = $(this).data('toggle');
        $('#' + tog).prop('value', sel);
        $('button[data-toggle="' + tog + '"]').not('[data-title="' + sel + '"]').removeClass('active').addClass('notActive');
        $('button[data-toggle="' + tog + '"][data-title="' + sel + '"]').removeClass('notActive').addClass('active');
    });


    function getDataCountAndResetFields() {
        var startTime = start.format('L');
        var finishTime = end.format('L');
        if (!timeLimitation) {
            startTime = null;
            finishTime = null;
        }
        $.ajax({
            type: "POST",
            url: '/getDataCount',
            data: JSON.stringify({
                startTime: startTime,
                finishTime: finishTime
            }),
            contentType: 'application/json;charset=UTF-8',
            success: function (result) {

                document.getElementById('postCount').innerHTML = result['postCount'];
                document.getElementById('responseCount').innerHTML = result['responseCount'];

                if (result['postCount'] == 0) {
                    document.getElementById('tagsButton').disabled = true;
                } else {
                    document.getElementById('tagsButton').disabled = false;
                }
                if (result['responseCount'] == 0) {
                    document.getElementById('responsesButton').disabled = true;
                } else {
                    document.getElementById('responsesButton').disabled = false;
                }

                var sel = $('#sourceRadioButton button').data('title');
                var tog = $('#sourceRadioButton button').data('toggle');
                $('#' + tog).prop('value', sel);
                $('button[data-toggle="' + tog + '"]').not('[data-title="' + sel + '"]').removeClass('active').addClass('notActive');
                $('button[data-toggle="' + tog + '"][data-title="' + sel + '"]').removeClass('active').addClass('notActive');
                document.getElementById('1stepButton').disabled = true;
            }
        });
    }

    function radioButtonTimePicker() {
        if (timeLimitation) {
            $("#reportrange").addClass('disabledCalendar');
            timeLimitation = false;
        } else {
            $("#reportrange").removeClass('disabledCalendar');
            timeLimitation = true;
        }
        getDataCountAndResetFields();
    }


    /////////////////////////////////////second step///////////////////////////////////////////
    function updateThresholds() {
        document.getElementById('minUserOnEdge_value').innerHTML = document.getElementById('minUserOnEdge').value;
        document.getElementById('minUserOnNode_value').innerHTML = document.getElementById('minUserOnNode').value;
        document.getElementById('minEdgeWeight_value').innerHTML = document.getElementById('minEdgeWeight').value;
    }

    function justMakeGraph() {

        document.getElementById('processImg1').style.visibility = 'visible';

        var startTime = start.format('L');
        var finishTime = end.format('L');
        if (!timeLimitation) {
            startTime = null;
            finishTime = null;
        }
        var source = $('#source').val();
        var isDirected = document.getElementById('isDirected').checked;
        var minUserOnNode = document.getElementById('minUserOnNode').value;
        var minUserOnEdge = document.getElementById('minUserOnEdge').value;
        var minEdgeWeight = document.getElementById('minEdgeWeight').value;

        $.ajax({
            type: "POST",
            url: '/makeGraph',
            data: JSON.stringify({
                startTime: startTime,
                finishTime: finishTime,
                source: source,
                isDirected: isDirected,
                minUserOnNode: minUserOnNode,
                minUserOnEdge: minUserOnEdge,
                minEdgeWeight: minEdgeWeight,
                name: null,
                moreInfo: null,
                saveGraph: false
            }),
            contentType: 'application/json;charset=UTF-8',
            success: function (result) {

                var nodeCount = result['nodeCount'];
                var edgeCount = result['edgeCount'];

                document.getElementById('nodeCount_value').innerHTML = nodeCount;
                document.getElementById('edgeCount_value').innerHTML = edgeCount;
                document.getElementById('averageDegree_value').innerHTML = Math.round((edgeCount * 2 / nodeCount) * 100) / 100;
                document.getElementById('processImg1').style.visibility = 'hidden';
                if (edgeCount != 0) {
                    document.getElementById('2stepButton').disabled = false;
                } else {
                    document.getElementById('2stepButton').disabled = true;
                }
            }
        });
    }


    /////////////////////////////////////Thrid step///////////////////////////////////////////
    function makeAndSaveGraph() {

        document.getElementById('processImg2').style.visibility = 'visible';

        var startTime = start.format('L');
        var finishTime = end.format('L');
        if (!timeLimitation) {
            startTime = null;
            finishTime = null;
        }
        var source = $('#source').val();
        var isDirected = document.getElementById('isDirected').checked;
        var minUserOnNode = document.getElementById('minUserOnNode').value;
        var minUserOnEdge = document.getElementById('minUserOnEdge').value;
        var minEdgeWeight = document.getElementById('minEdgeWeight').value;
        var name = document.getElementById('name').value;
        var moreInfo = document.getElementById('moreInfo').value;

        $.ajax({
            type: "POST",
            url: '/makeGraph',
            data: JSON.stringify({
                startTime: startTime,
                finishTime: finishTime,
                source: source,
                isDirected: isDirected,
                minUserOnNode: minUserOnNode,
                minUserOnEdge: minUserOnEdge,
                minEdgeWeight: minEdgeWeight,
                name: name,
                moreInfo: moreInfo,
                saveGraph: true
            }),
            contentType: 'application/json;charset=UTF-8',
            success: function (result) {
                window.location.href = '/';
            }
        });
    }

</script>
{% endblock %}



