{% extends "layout.html" %}

{% block body %}
<div class="container" style="position: fixed;">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <button style="font-family: BYekan; height: 55px" class="btn"
                        onclick="getGraph()" type="submit">
                    افزودن همسایه‌ها
                </button>
                <button style="font-family: BYekan; height: 55px" class="btn"
                        onclick="resetGraph()" type="submit">
                    بازنشانی گراف
                </button>
            </div>
        </div>
        <div class="col-md-1" style="background-color: white">
            <p id="levelLabel" style="font-size: 12px"></p>
            <input id="level" type="range" min="1" max="5" step="1" value="1" onchange="setLevel()"/>
        </div>
        <div class="col-md-4">
            <div style="font-family: BYekan;height: 55px"
                 class="form-group form-group-default form-group-default-select2">
                <label style="font-family: BYekan">انتخاب واژه‌ها</label>
                <select id="nodeIdList" style="font-family: BYekan" class="full-width" data-init-plugin="select2"
                        multiple></select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group form-group-default form-group-default-select2">
                <label style="font-family: BYekan">انتخاب منبع گراف</label>
                <select id="graphId" class="full-width" data-init-plugin="select2" onchange="setNodeList()">
                    <option style="display:none">
                        {% if tagGraphList %}
                        <optgroup label="تگ‌های اینستاگرام">
                            {% for graph in tagGraphList %}
                            <option value="{{ graph.id }}">{{ graph.name }}</option>
                            {% endfor %}
                        </optgroup>
                        {% endif %}
                        {% if responseGraphList %}
                        <optgroup label="پاسخ‌های کاربران">
                            {% for graph in responseGraphList %}
                            <option value="{{ graph.id }}">{{ graph.name }}</option>
                            {% endfor %}
                        </optgroup>
                        {% endif %}
                        {% if tagAndResponseGraphList %}
                        <optgroup label="تگ‌های اینستاگرام + پاسخ‌های کاربران">
                            {% for graph in tagAndResponseGraphList %}
                            <option value="{{ graph.id }}">{{ graph.name }}</option>
                            {% endfor %}
                        </optgroup>
                        {% endif %}
                </select>
            </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div id="panel"
                 style="width:930px; height:500px; background-color: orangered; letter-spacing: 0; font-family: BKoodakBold;"></div>
        </div>
    </div>
</div>

{% endblock %}


{% block js %}
<script type="text/javascript">

    setLevel();

    var draw_config = {
        element: '#panel',
        layoutAttr: {
            linkDistance: 75
        },
        weighted: true,
        withLabels: true,
        labels: 'label',
        nodeStyle: {
            fill: function (d) {
                return d.data.color;
            },
            r: 9,
            "stroke-width": 0
        },
        edgeAttr: {
            weight: function (d) {
                return d.data.weight;
            }
        },
        edgeStyle: {
            fill: "LightGray"
        },
        labelStyle: {fill: 'DarkSlateGray'},
        stickyDrag: true
    };


    var G = new jsnx.DiGraph();
    jsnx.draw(G, draw_config, true);


    $(document).ready(function () {
        $("#nodeIdList").select2({
            minimumInputLength: 1
        });
    });

    function setLevel() {
        document.getElementById("levelLabel").innerHTML = ' سطح جستجو: ' + document.getElementById("level").value;
    }

    function setNodeList() {

        $("#nodeIdList").val('').change();
        var nodeInListElement = document.getElementById("nodeIdList");
        for (i = nodeInListElement.options.length - 1; i >= 0; i--) {
            nodeInListElement.options[i].selected = false;
            nodeInListElement.options[i] = null;
        }
        $.ajax({
            type: "POST",
            url: '/getNodes',
            data: JSON.stringify(
                    {
                        graphId: document.getElementById('graphId').value
                    }
            ),
            contentType: 'application/json;charset=UTF-8',
            success: function (result) {
                var nodeList = result['nodeList'];
                for (i = 0; i < nodeList.length; i++) {
                    $("#nodeIdList").append(new Option(nodeList[i]['content'], nodeList[i]['id']));
                }
            }
        });
    }
    function getGraph() {
        var nodeIdList = $('#nodeIdList').val();
        var graphId = document.getElementById("graphId").value;
        var level = document.getElementById("level").value;

        d3.json('/getGraph')
                .header("Content-Type", "application/json;charset=UTF-8")
                .post(
                JSON.stringify(
                        {
                            graphId: graphId,
                            nodeIdList: nodeIdList,
                            level: level
                        }
                ), function (error, graph) {

                    for (j = 0; j < nodeIdList.length; j++) {
                        var nodeName = parseInt(nodeIdList[j]);
                        if (G.hasNode(nodeName)) {
                            console.log(G.node.get(nodeName).color);
                            if (G.node.get(nodeName).color.localeCompare('pink')) {
                                G.removeNode(nodeName);
                            }
                        }
                    }
                    for (i = 0; i < graph.nodes.length; i++) {
                        if (!G.hasNode(graph.nodes[i].name)) {
                            G.addNode(graph.nodes[i].name, {
                                label: graph.nodes[i].content,
                                color: graph.nodes[i].color
                            });
                        }
                    }
                    for (i = 0; i < graph.links.length; i++) {
                        if (!G.hasEdge(graph.links[i].source, graph.links[i].target)) {
                            G.addEdge(graph.links[i].source, graph.links[i].target, {weight: graph.links[i].weight});
                        }
                    }

                });
    }

    function resetGraph() {
        G.removeNodesFrom(G.nodes());
    }

</script>
{% endblock %}