{% extends "layout.html" %}

{% block body %}
<div class="container" style="position: fixed;">

    <div class="row">
        <div class="col-md-11">
            <div class="col-md-3">
                <button id="addGraph" style="height: 55px; width: 125px" class="btn btn-xs"
                        onclick="getGraph()" type="submit">
                    افزودن همسایه‌ها
                </button>
                <button id="resetGraph" style="height: 55px; width: 100px" class="btn btn-xs"
                        onclick="resetGraph()" type="submit">
                    بازنشانی
                </button>
            </div>
            <div id="levelSelection_tour" class="col-md-3" style="background-color: white">
                <p id="levelLabel"></p>
                <input id="level" type="range" min="1" max="5" step="1" value="1" onchange="setLevel()"/>
            </div>
            <div class="col-md-3">
                <div id="nodeSelection_tour" style="height: 55px"
                     class="form-group form-group-default form-group-default-select2">
                    <label>انتخاب واژه‌ها</label>
                    <select id="nodeIdList" class="full-width" data-init-plugin="select2"
                            multiple></select>
                </div>
            </div>
            <div class="col-md-3">
                <div id="graphSelection_tour" class="form-group form-group-default form-group-default-select2">
                    <label>انتخاب منبع گراف</label>
                    <select id="graphId" class="full-width" data-init-plugin="select2" onchange="setNodeList()">
                        <option style="display:none">
                            {% if tagGraphList %}
                            <optgroup label="تگ‌های اینستاگرام">
                                {% for graph in tagGraphList %}
                                {% if graph.isActive or session.admin %}
                                <option value="{{ graph.id }}">{{ graph.name }}</option>
                                {% endif %}
                                {% endfor %}
                            </optgroup>
                            {% endif %}
                            {% if responseGraphList %}
                            <optgroup label="پاسخ‌های کاربران">
                                {% for graph in responseGraphList %}
                                {% if graph.isActive or session.admin %}
                                <option value="{{ graph.id }}">{{ graph.name }}</option>
                                {% endif %}
                                {% endfor %}
                            </optgroup>
                            {% endif %}
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div id="panel"
                 style="width:1050px; height:520px; background-color: white; letter-spacing: 0; font-family: BKoodakBold;">
                <i class="fs-14 fa fa-question" style="color: cornflowerblue;margin: 10px;" onclick="tourExecute()"></i>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block js %}
<script type="text/javascript">

    var draw_config = {
        element: '#panel',
        layoutAttr: {
            linkDistance: 75
        },
        weighted: true,
        withLabels: true,
        labels: 'label',
        nodeStyle: {
            fill: function (d) {
                return d.data.color;
            },
            r: 9,
            "stroke-width": 0
        },
        edgeAttr: {
            weight: function (d) {
                return d.data.weight;
            }
        },
        edgeStyle: {
            fill: "LightGray"
        },
        labelStyle: {fill: 'DarkSlateGray'},
        stickyDrag: true
    };

    var G = new jsnx.DiGraph();
    jsnx.draw(G, draw_config, true);


    setLevel();

    if ('{{ isSeeGraphPage }}' == 'False') {
        tourExecute();
    }



    $(document).ready(function () {
        $("#nodeIdList").select2({
            minimumInputLength: 1
        });
    });

    function setLevel() {
        document.getElementById("levelLabel").innerHTML = ' سطح جستجو: ' + document.getElementById("level").value;
    }

    function setNodeList() {

        $("#nodeIdList").val('').change();
        var nodeInListElement = document.getElementById("nodeIdList");
        for (i = nodeInListElement.options.length - 1; i >= 0; i--) {
            nodeInListElement.options[i].selected = false;
            nodeInListElement.options[i] = null;
        }
        $.ajax({
            type: "POST",
            url: '/getNodes',
            data: JSON.stringify(
                    {
                        graphId: document.getElementById('graphId').value
                    }
            ),
            contentType: 'application/json;charset=UTF-8',
            success: function (result) {
                var nodeList = result['nodeList'];
                for (i = 0; i < nodeList.length; i++) {
                    $("#nodeIdList").append(new Option(nodeList[i]['content'], nodeList[i]['id']));
                }
            }
        });
    }
    function getGraph() {
        var nodeIdList = $('#nodeIdList').val();
        var graphId = document.getElementById("graphId").value;
        var level = document.getElementById("level").value;

        d3.json('/getGraph')
                .header("Content-Type", "application/json;charset=UTF-8")
                .post(
                JSON.stringify(
                        {
                            graphId: graphId,
                            nodeIdList: nodeIdList,
                            level: level
                        }
                ), function (error, graph) {

                    for (j = 0; j < nodeIdList.length; j++) {
                        var nodeName = parseInt(nodeIdList[j]);
                        if (G.hasNode(nodeName)) {
                            console.log(G.node.get(nodeName).color);
                            if (G.node.get(nodeName).color.localeCompare('pink')) {
                                G.removeNode(nodeName);
                            }
                        }
                    }
                    for (i = 0; i < graph.nodes.length; i++) {
                        if (!G.hasNode(graph.nodes[i].name)) {
                            G.addNode(graph.nodes[i].name, {
                                label: graph.nodes[i].content,
                                color: graph.nodes[i].color
                            });
                        }
                    }
                    for (i = 0; i < graph.links.length; i++) {
                        if (!G.hasEdge(graph.links[i].source, graph.links[i].target)) {
                            G.addEdge(graph.links[i].source, graph.links[i].target, {weight: graph.links[i].weight});
                        }
                    }

                });
    }

    function resetGraph() {
        G.removeNodesFrom(G.nodes());
    }


    function setIsSee() {
        $.ajax({
            type: "POST",
            url: '/setIsSeeGraphPage',
            data: {},
            contentType: 'application/json;charset=UTF-8',
            success: function (result) {
            }
        });
    }


    function tourExecute() {
        var tour = new Tour({
            steps: [
                {
                    element: "#graphSelection_tour",
                    title: "انتخاب گراف",
                    content: " گراف‌ها بر اساس منبع (تگ‌های اینستاگرام یا پاسخ‌های کاربران) در دو دسته کلی قرار دارند. در این قسمت می‌توانید گراف موردنظر را انتخاب کنید."
                },
                {
                    element: "#nodeSelection_tour",
                    title: "انتخاب واژه‌ها",
                    content: "واژه‌های موجود در گراف را از این قسمت می‌توانید انتخاب کنید. برای نمایش واژه باید حداقل یک حرف از آن را وارد کنید."
                },
                {
                    element: "#levelSelection_tour",
                    title: "انتخاب سطح همسایگی",
                    content: "در این قسمت می‌توانید سطح جستجوی همسایه‌ها را از بین ۱ تا ۵ انتخاب کنید."
                },
                {
                    element: "#addGraph",
                    title: "افزودن همسایه‌ها",
                    content: "همسایه‌های واژگانی که انتخاب کردید با کلیک روی این دکمه به صفحه‌ی نمایش گراف  اضافه می‌شوند."
                },
                {
                    element: "#panel",
                    title: "صفحه‌ی نمایش گراف",
                    content: "در این صفحه، همسایگان واژه‌ی انتخاب‌شده نمایش داده می‌شوند. واژگانی که جستجو شدند صورتی‌رنگ و همسایه‌های آن‌ها آبی‌رنگ هستند."
                },
                {
                    element: "#resetGraph",
                    title: "بازنشانی گراف",
                    content: "با کلیک روی این دکمه، تمامی واژگان و همسایگان آن‌ها از صفحه نمایش گراف حذف می‌شوند."
                },
                {
                    title: "ایده!",
                    content: "یک ایده: با ترکیب واژه‌ها از دو نوع گراف (تگ‌ها و پاسخ‌ها) می‌توانید بین گراف‌ها مقایسه انجام دهید!"
                }
            ],
            storage: false,
            orphan: true,
//        placement: 'bottom',
//        backdrop: true,
            template: document.getElementById('tourExample').innerHTML
        });

        tour.init();
        tour.start(true);
    }
</script>
{% endblock %}