{% extends "layout.html" %}

{% macro render_field(field) %}
<div> {{ field.label }}<br><br>

    <div>{{ field(class="form-control") }}</div>
</div>
{% if field.errors %}
<ul class="errors">{% for error in field.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endmacro %}

{% block header %}
<style>
    .stepwizard-step p {
        margin-top: 10px;
    }

    .stepwizard-row {
        display: table-row;
    }

    .stepwizard {
        display: table;
        width: 50%;
        position: relative;
    }

    .stepwizard-step button[disabled] {
        opacity: 1 !important;
        filter: alpha(opacity=100) !important;
    }

    .stepwizard-row:before {
        top: 14px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 100%;
        height: 1px;
        background-color: #ccc;
        z-order: 0;
    }

    .stepwizard-step {
        display: table-cell;
        text-align: center;
        position: relative;
    }

    .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
        background-color: #87cefa;
    }
</style>
{% endblock %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-sm-6">
            <div class="panel panel-transparent">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-tabs-linetriangle" data-init-reponsive-tabs="dropdownfx">
                    <li class="active">
                        <a data-toggle="tab" href="#addGraph"><span>افزودن گراف</span></a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="addGraph">
                        <div class="container-fluid container-fixed-lg">
                            <div class="stepwizard col-md-offset-3" style="width: 100%">
                                <div class="stepwizard-row setup-panel">
                                    <div class="stepwizard-step">
                                        <a href="#step-1" type="button" class="btn btn-primary btn-circle">I</a>

                                        <p>ساخت گراف خام</p>
                                    </div>
                                    <div class="stepwizard-step">
                                        <a href="#step-2" type="button" class="btn btn-default btn-circle"
                                           disabled="disabled">II</a>

                                        <p>هرس گره‌ها و یال‌ها</p>
                                    </div>
                                    <div class="stepwizard-step">
                                        <a href="#step-3" type="button" class="btn btn-default btn-circle"
                                           disabled="disabled">III</a>

                                        <p>ثبت گراف نهایی</p>
                                    </div>
                                </div>
                            </div>
                            <form role="form" action="" method="post">
                                <div class="row setup-content" id="step-1">
                                    <br><br>

                                    <h3>ساخت گراف خام</h3>

                                    <div class="form-group">
                                        <label class="control-label">First Name</label>
                                        <input maxlength="100" type="text" required="required" class="form-control"
                                               placeholder="Enter First Name">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Last Name</label>
                                        <input maxlength="100" type="text" required="required" class="form-control"
                                               placeholder="Enter Last Name">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Address</label>
                                        <textarea required="required" class="form-control"
                                                  placeholder="Enter your address"></textarea>
                                    </div>
                                    <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">مرحله بعد
                                    </button>
                                </div>
                                <div class="row setup-content" id="step-2">
                                    <h3>هرس گره‌ها و یال‌ها</h3>

                                    <div class="form-group">
                                        <label class="control-label">Company Name</label>
                                        <input maxlength="200" type="text" required="required" class="form-control"
                                               placeholder="Enter Company Name">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Company Address</label>
                                        <input maxlength="200" type="text" required="required" class="form-control"
                                               placeholder="Enter Company Address">
                                    </div>
                                    <button class="btn btn-primary prevBtn btn-lg pull-left" type="button">مرحله قبل
                                    </button>
                                    <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">مرحله بعد
                                    </button>
                                </div>
                                <div class="row setup-content" id="step-3">
                                    <h3>ثبت گراف نهایی</h3>
                                    <button class="btn btn-primary prevBtn btn-lg pull-left" type="button">مرحله قبل
                                    </button>
                                    <button class="btn btn-success btn-lg pull-right" type="submit">ثبت</button>
                                </div>
                            </form>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block js %}
<script type="text/javascript">
    $(document).ready(function () {
        var navListItems = $('div.setup-panel div a'),
                allWells = $('.setup-content'),
                allNextBtn = $('.nextBtn'),
                allPrevBtn = $('.prevBtn');

        allWells.hide();

        navListItems.click(function (e) {
            e.preventDefault();
            var $target = $($(this).attr('href')),
                    $item = $(this);

            if (!$item.hasClass('disabled')) {
                navListItems.removeClass('btn-primary').addClass('btn-default');
                $item.addClass('btn-primary');
                allWells.hide();
                $target.show();
                $target.find('input:eq(0)').focus();
            }
        });

        allPrevBtn.click(function () {
            var curStep = $(this).closest(".setup-content"),
                    curStepBtn = curStep.attr("id"),
                    prevStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().prev().children("a");

            prevStepWizard.removeAttr('disabled').trigger('click');
        });

        allNextBtn.click(function () {
            var curStep = $(this).closest(".setup-content"),
                    curStepBtn = curStep.attr("id"),
                    nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
                    curInputs = curStep.find("input[type='text'],input[type='url']"),
                    isValid = true;

            $(".form-group").removeClass("has-error");
            for (var i = 0; i < curInputs.length; i++) {
                if (!curInputs[i].validity.valid) {
                    isValid = false;
                    $(curInputs[i]).closest(".form-group").addClass("has-error");
                }
            }

            if (isValid)
                nextStepWizard.removeAttr('disabled').trigger('click');
        });

        $('div.setup-panel div a.btn-primary').trigger('click');
    });
</script>
{% endblock %}



