{% extends "layout.html" %}

{% block header %}
<style>
    .links line {
        stroke: #999;
        stroke-opacity: 0.6;
        stroke-width: 2px;
    }

    .nodes circle {
        stroke: #fff;
        stroke-width: 1.5px;
    }
</style>
{% endblock %}

{% block body %}
<div class="container" style="position: fixed;">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <button style="font-family: BYekan; height: 55px" class="btn"
                        onclick="setGraph(document.getElementById('graph'))" type="submit">
                    نمایش گراف
                </button>
            </div>
        </div>
        <div class="col-md-5">
            <div style="font-family: BYekan;height: 55px"
                 class="form-group form-group-default form-group-default-select2">
                <label class="" style="font-family: BYekan">انتخاب واژه‌ها</label>
                <select id="nodeList" style="font-family: BYekan" onabort="واژه یافت نشد." class="full-width"
                        data-init-plugin="select2" multiple></select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group form-group-default form-group-default-select2">
                <label class="" style="font-family: BYekan">انتخاب منبع گراف</label>
                <select id="graphId" class="full-width" data-init-plugin="select2">
                    {% if tagGraphList %}
                    <optgroup label="تگ‌های اینستاگرام">
                        {% for graph in tagGraphList %}
                        <option value="{{ graph.id }}">{{ graph.name }}</option>
                        {% endfor %}
                    </optgroup>
                    {% endif %}
                    {% if responseGraphList %}
                    <optgroup label="پاسخ‌های کاربران">
                        {% for graph in responseGraphList %}
                        <option value="{{ graph.id }}">{{ graph.name }}</option>
                        {% endfor %}
                    </optgroup>
                    {% endif %}
                    {% if tagAndResponseGraphList %}
                    <optgroup label="تگ‌های اینستاگرام + پاسخ‌های کاربران">
                        {% for graph in tagAndResponseGraphList %}
                        <option value="{{ graph.id }}">{{ graph.name }}</option>
                        {% endfor %}
                    </optgroup>
                    {% endif %}
                </select>
            </div>
        </div>
    </div>
</div>

{% block js %}
<script type="text/javascript">


    function setNodeList(nodeList) {
        var select = document.getElementById("nodeList");
        for (i = 0; i < nodeList.length; i++) {
            $("#nodeList").append(new Option(optList[i].content, optList[i].id));
        }
    }
</script>
<svg width="960" height="600"></svg>
<script>
    var svg = d3.select("svg"),
            width = +svg.attr("width"),
            height = +svg.attr("height");

    var color = d3.scaleOrdinal(d3.schemeCategory20);

    var simulation = d3.forceSimulation()
            .force("link", d3.forceLink().id(function (d) {
                return d.name;
            }))
            .force("charge", d3.forceManyBody())
            .force("center", d3.forceCenter(width / 2, height / 2));

    d3.json('/showGraph/' + document.getElementById('graphId').value, function (error, graph) {

        var link = svg.append("g")
                .attr("class", "links")
                .selectAll("line")
                .data(graph.links)
                .enter().append("line")
                .attr("stroke-width", function (d) {
                    return Math.sqrt(d.weight);
                });
        var node = svg.append("g")
                .attr("class", "nodes")
                .selectAll("circle")
                .data(graph.nodes)
                .enter().append("circle")
                .attr("r", 5)
                .attr("fill", function (d) {
                    return color(d.group);
                })
                .call(d3.drag()
                        .on("start", dragstarted)
                        .on("drag", dragged)
                        .on("end", dragended));

        node.append("title")
                .text(function (d) {
                    return d.name;
                });

        link.append("title")
                .text(function (d) {
                    return d.source.name + " → " + d.target.name + "\n" + d.weight + " mi"
                });

        simulation
                .nodes(graph.nodes)
                .on("tick", ticked);

        simulation.force("link")
                .links(graph.links);

        function ticked() {
            link
                    .attr("x1", function (d) {
                        return d.source.x;
                    })
                    .attr("y1", function (d) {
                        return d.source.y;
                    })
                    .attr("x2", function (d) {
                        return d.target.x;
                    })
                    .attr("y2", function (d) {
                        return d.target.y;
                    });

            node
                    .attr("cx", function (d) {
                        return d.x;
                    })
                    .attr("cy", function (d) {
                        return d.y;
                    });
        }
    });

    function dragstarted(d) {
        if (!d3.event.active) simulation.alphaTarget(0.3).restart();
        d.fx = d.x;
        d.fy = d.y;
    }

    function dragged(d) {
        d.fx = d3.event.x;
        d.fy = d3.event.y;
    }

    function dragended(d) {
        if (!d3.event.active) simulation.alphaTarget(0);
        d.fx = null;
        d.fy = null;
    }

</script>
{% endblock %}

{% endblock %}