{% extends "layout.html" %}

{% macro render_field(field) %}
    <div> {{ field.label }}<br><br><div>{{ field(class="form-control") }}</div></div>
    {% if field.errors %}
        <ul class="errors">{% for error in field.errors %}<li>{{ error }}</li>{% endfor %}</ul>
    {% endif %}
{% endmacro %}


{% block body %}
    <div class="container">
		<div class="row">
            <div class="col-xs-6 col-md-4"></div>
            <div class="col-xs-6 col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
                        <i class="fs-14 fa fa-question" style="color: cornflowerblue;" onclick="tourExecute()"></i>
					</div>
                    <div class="panel-body" style="color:#083C32">
                        <form>
                            <div id="stimulus_tour" class="row" style=" text-align: center">
                                {% if isPictorial %}
                                <img id="picture" src="" alt="picture" style="width:300px;height:300px;">
                                {% else %}
                                <h3 id="phrase"></h3>
                                {% endif %}
                            </div>
                            <br><br>
                            <input type=text id="Response" onchange="submitButtonControl()"
                                   class="form-control"
                                   onkeyup="nospaces(this)" autocomplete="off">
                            <br>
                            <input id="bttnsubmit" type=submit
                                   class="btn btn-success btn-block"
                                   onclick="addResponse(document.getElementById('Response').value)" value='ثبت پاسخ'>
                            <br>

                            <div class="row">
                                <div class="col-xs-4 col-md-5">
                                    <button id="bttnexit" class="btn btn-block">
                                        <a href="{{ url_for('endPack',pack_id=packId) }}">پایان پاسخ‌گویی</a>
                                    </button>
                                </div>
                                <div class="col-xs-4 col-md-2"></div>
                                <div class="col-xs-4 col-md-5">
                                    <input id="bttnskip" type=button class="btn btn-block" style="color: #4682b4"
                                           onclick="skipStimulus()" value="بعدی">
                                </div>
                            </div>
                        </form>
					</div>
                </div>
			</div>
		</div>
	</div>
{% endblock %}


{% block js %}
<script type="text/javascript">
    var startTime;
    var stimulusId;

    getStimulus();

    if ('{{ isSeePackPage }}' == 'False') {
        tourExecute();
    }

    $(document).ready(function () {
        $('#bttnsubmit').prop('disabled', true);
        $('#Response').keyup(function () {
            $('#bttnsubmit').prop('disabled', this.value == "" ? true : false);
        })
    });

    function nospaces(t) {
        if (t.value.match(/\s/g)) {
            t.value = t.value.replace(/^\s+|\s+$/gm, '');
        }
    }

    function addResponse(responseListStr) {
        var packId = '{{ packId }}';
        var responseList = responseListStr.split('/');
        var finishTime = new Date();
        var duration = (finishTime - startTime) / 1000;
        for (count = 0; count < responseList.length; count++) {
            var response = responseList[count];
            $.ajax({
                type: "POST",
                url: '/addResponse',
                data: JSON.stringify(
                        {
                            stimulusId: stimulusId,
                            response: response,
                            packId: packId,
                            duration: duration
                        }
                ),
                contentType: 'application/json;charset=UTF-8',
                success: function (result) {
                }
            });
        }
        document.getElementById("Response").value = '';
        getStimulus();

    }

    function skipStimulus() {
        var packId = '{{ packId }}';
        var finishTime = new Date();
        var duration = (finishTime - startTime) / 1000;
        $.ajax({
            type: "POST",
            url: '/addResponse',
            data: JSON.stringify(
                    {
                        stimulusId: stimulusId,
                        response: null,
                        packId: packId,
                        duration: duration
                    }
            ),
            contentType: 'application/json;charset=UTF-8',
            success: function (result) {
            }
        });
        document.getElementById("Response").value = '';
        getStimulus();
    }

    function getStimulus() {
        $.ajax({
            type: "POST",
            url: '/getStimulus',
            data: JSON.stringify(
                    {
                        packId: '{{ packId }}'
                    }
            ),
            contentType: 'application/json;charset=UTF-8',
            success: function (result) {
                if (result == '') {
                    window.location = "{{ url_for('endPack',pack_id=packId) }}";
                }
                else {
                    stimulusId = result['stimulusId'];
                    if (result['isPictorial']) {
                        document.getElementById("picture").src = result['stimulus'];
                    } else {
                        document.getElementById("phrase").textContent = result['stimulus'];
                    }
                    startTime = new Date();
                }
            }
        });
        $(document).ready(function () {
            $('#bttnsubmit').attr('disabled', 'disabled');
            $('input[type="text"]').keyup(function () {
                if ($(this).val() != '') {
                    $('input[type="submit"]').removeAttr('disabled');
                }
            });
        });
    }


    function setIsSee() {
        $.ajax({
            type: "POST",
            url: '/setIsSeePackPage',
            data: {},
            contentType: 'application/json;charset=UTF-8',
            success: function (result) {
            }
        });
    }

    function tourExecute() {
        var tour = new Tour({
            steps: [
                {
                    element: "#stimulus_tour",
                    title: "نمایش واژه‌ یا تصویر",
                    content: "در این قسمت یک واژه یا تصویر نمایش داده می‌شود."
                },
                {
                    element: "#Response",
                    title: "محل ورود پاسخ‌ها",
                    content: "با دیدن تصویر/واژه، اولین کلمه ای که به ذهنتان می‌رسد را در این قسمت وارد کنید. اگر چند کلمه به ذهنتان رسید، آن‌ها را با خط فاصله (-) از هم جدا کنید."
                },
                {
                    element: "#bttnsubmit",
                    title: "ثبت پاسخ",
                    content: "با کلیک روی این دکمه، پاسخ شما ثبت می‌شود و واژه یا تصویر بعدی نمایش داده می‌شود."
                },
                {
                    element: "#bttnskip",
                    title: "گذر از واژه یا تصویر",
                    content: "درصورتی که با دیدن پاسخ یا تصویر چیزی به ذهنتان نرسید یا معنی آن را نمی‌دانستید می‌توانید با کلیک روی این دکمه به واژه/تصویر بعدی بروید."
                },
                {
                    element: "#bttnexit",
                    title: "پایان پاسخ‌گویی",
                    content: "برای اتمام پرسش‌نامه روی این دکمه کلیک کنید."
                }
            ],
//        backdrop: true,
            storage: false,
            template: document.getElementById('tourExample').innerHTML
        });

        tour.init();
        tour.start(true);
    }

</script>
{% endblock %}

