{% extends "layout.html" %}

{% macro render_field(field) %}
<div> {{ field.label }}<br><br>

    <div>{{ field(class="form-control") }}</div>
</div>
{% if field.errors %}
<ul class="errors">{% for error in field.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endmacro %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-sm-8">
            <div class="panel panel-transparent">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-tabs-linetriangle" data-init-reponsive-tabs="dropdownfx">
                    <li class="active">
                        <a data-toggle="tab" href="#addPost" style="font-family: BYekan;"><span>افزودن پست</span></a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#postCountGroupByPhrase_chart"
                           style="font-family: BYekan;"><span>نمودار توزیع پست‌ها بر اساس تگ جستجوشده</span></a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#postCountGroupByTime_chart"
                           style="font-family: BYekan;"><span>نمودار توزیع تگ‌های جستجوشده به تفکیک ماه انتشار</span></a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#postCountGroupByUid_chart"
                           style="font-family: BYekan;"><span>نمودار توزیع کاربران برحسب تعداد پست‌ها</span></a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="addPost">
                        <div class="col-md-12">
                            <div class="row column-seperation">
                                <p style="font-family: BYekan;">فایل با فرمت json حاوی پست‌ها را آپلود نمایید.</p>
                                <form action="/addPost" class="dropzone" id="uploadForm" method="post">
                                    <div class="fallback">
                                        <input name="file" type="file" multiple/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="postCountGroupByPhrase_chart">
                        <div class="row">
                            <div class="col-md-12">
                                <div style="border: outset; border-radius: 5px; padding: 10px">
                                    <p id="postCount"></p>

                                    <p id="phraseCount"></p>
                                </div>
                                <canvas id="postCountGroupByPhrase" width="400" height="2000"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="postCountGroupByTime_chart">
                        <div class="row">
                            <div class="col-md-12">
                                <canvas id="postCountGroupByTime" width="400" height="200"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="postCountGroupByUid_chart">
                        <div class="row">
                            <div class="col-md-12">
                                <div style="border: outset; border-radius: 5px; padding: 10px">
                                    <p id="uidCount"></p>
                                </div>
                                <canvas id="postCountGroupByUid" width="400" height="200"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block js %}
<script type="text/javascript">
    var ctx;
    var myChart;
    setPostChartsData();
    Chart.defaults.global.defaultFontFamily = 'BYekan';

    function setPostChartsData() {
        $.ajax({
            type: "POST",
            url: '/getPostChartsData',
            success: function (result) {

                var basicStatistics = result['basicStatistics'];
                document.getElementById('postCount').innerHTML = 'تعداد کل پست‌ها: ' + basicStatistics['countOfPosts'];
                document.getElementById('phraseCount').innerHTML = 'تعداد کل تگ‌های جستجوشده: ' + basicStatistics['countOfPhrases'];
                document.getElementById('uidCount').innerHTML = 'تعداد کل کاربران: ' + basicStatistics['countOfUids'];

                var postCountGroupByPharseId = result['postCountGroupByPharseId'];
                ctx = document.getElementById("postCountGroupByPhrase").getContext('2d');
                myChart = new Chart(ctx, {
                    type: 'horizontalBar',
                    data: {
                        labels: postCountGroupByPharseId['labels'],
                        datasets: [{
                            label: 'تعداد پست‌ها',
                            data: postCountGroupByPharseId['data'],
                            backgroundColor: "rgba(25,140,230,0.7)",
                            strokeColor: "black"
                        }]
                    }
                });

                var postCountGroupByTime = result['postCountGroupByTime'];
                ctx = document.getElementById("postCountGroupByTime").getContext('2d');
                myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: postCountGroupByTime['labels'],
                        datasets: [{
                            label: 'تعداد پست‌ها',
                            data: postCountGroupByTime['data'],
                            backgroundColor: "rgba(25,140,230,0.7)",
                            strokeColor: "black"
                        }]
                    }
                });

                var postCountGroupByUid = result['postCountGroupByUid'];
                ctx = document.getElementById("postCountGroupByUid").getContext('2d');
                myChart = new Chart(ctx, {
                    type: 'scatter',
                    data: {
                        datasets: [{
                            label: 'نمودار تعداد کاربران برحسب تعداد پست‌ها',
                            data: postCountGroupByUid['data'],
                            backgroundColor: "rgba(25,140,230,0.7)",
                            strokeColor: "black"
                        }]
                    },
                    options: {
                        scales: {
                            xAxes: [{
                                scaleLabel: {
                                    display: true,
                                    labelString: 'تعداد پست‌ها'
                                },
                                type: 'linear',
                                position: 'bottom'
                            }],
                            yAxes: [{
                                scaleLabel: {
                                    display: true,
                                    labelString: 'تعداد کاربران'
                                }
                            }]
                        }
                    }
                });
            }
        });
    }

</script>
{% endblock %}



