{% extends "layout.html" %}

{% macro render_field(field) %}
    <div> {{ field.label }}<br><br><div>{{ field(class="form-control") }}</div></div>
    {% if field.errors %}
        <ul class="errors">{% for error in field.errors %}<li>{{ error }}</li>{% endfor %}</ul>
    {% endif %}
{% endmacro %}


{% block body %}
    <div class="container">
		<div class="row">
            <div class="col-xs-6 col-md-4"></div>
            <div class="col-xs-6 col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
					</div>
                    <div class="panel-body" style="color:#083C32">
                        <form id="questionnaireForm" onsubmit="return false;">
                            <div class="row" style=" text-align: center">
                                <h3 style="font-family: BYekan" id="Stimulus"></h3>
                            </div>
                            <br><br>
                            <input style="font-family: BYekan" type=text id="Response" onchange="submitButtonControl()"
                                   class="form-control"
                                   onkeyup="nospaces(this)" autocomplete="off">
                            <br>
                            <input style="font-family: BYekan" id="bttnsubmit" type=submit
                                   class="btn btn-success btn-block"
                                   onclick="AddResponse(document.getElementById('Response').value)" value='ثبت پاسخ'>
                            <br>

                            <div class="row">
                                <div class="col-xs-4 col-md-5">
                                    <input style="font-family: BYekan" id="bttnexit" style="border-color: indianred"
                                           type=submit class="btn btn-block"
                                           onclick="endQuestionnaire()" value='پایان پاسخ‌گویی'>
                                </div>
                                <div class="col-xs-4 col-md-2"></div>
                                <div class="col-xs-4 col-md-5">
                                    <input style="font-family: BYekan" id="bttnskip" type=submit class="btn btn-block"
                                           onclick="AddResponse('')" value='واژه‌ی بعدی'>
                                </div>
                            </div>
                        </form>
					</div>
                </div>
			</div>
		</div>
	</div>
{% endblock %}


{% block js %}
<script type="text/javascript">

    getStimulus();

    $(document).ready(function () {
        $('#bttnsubmit').prop('disabled', true);
        $('#Response').keyup(function () {
            $('#bttnsubmit').prop('disabled', this.value == "" ? true : false);
        })
    });

    function AddResponse(responseListStr) {
        var stimulus = document.getElementById("Stimulus").textContent;
        var packId = '{{ packId }}';
        var responseList = responseListStr.split('/');
        for (count = 0; count < responseList.length; count++) {
            var response = responseList[count];
            $.ajax({
                type: "POST",
                url: '/addResponse',
                data: JSON.stringify(
                        {
                            stimulus: stimulus,
                            response: response,
                            packId: packId
                        }
                ),
                contentType: 'application/json;charset=UTF-8',
                success: function (result) {
                }
            });
        }
        document.getElementById("Response").value = '';
        getStimulus();

    }

    function getStimulus() {
        $.ajax({
            type: "POST",
            url: '/getStimulus',
            data: JSON.stringify(
                    {
                        packId: '{{ packId }}'
                    }
            ),
            contentType: 'application/json;charset=UTF-8',
            success: function (result) {
                if (result == '/') {
                    window.location = result;
                } else {
                    document.getElementById("Stimulus").textContent = result;
                }
            }
        });
        $(document).ready(function () {
            $('#bttnsubmit').attr('disabled', 'disabled');
            $('input[type="text"]').keyup(function () {
                if ($(this).val() != '') {
                    $('input[type="submit"]').removeAttr('disabled');
                }
            });
        });
    }

    function endQuestionnaire() {
        $.ajax({
            type: "POST",
            url: '/endQuestionnaire',
            data: JSON.stringify(
                    {
                        packId: '{{ packId }}'
                    }
            ),
            contentType: 'application/json;charset=UTF-8',
            success: function (result) {
                window.location = result;
            }
        });
    }

    function nospaces(t) {
        if (t.value.match(/\s/g)) {
            t.value = t.value.replace(/^\s+|\s+$/gm, '');
        }
    }
</script>
{% endblock %}

