{% extends "layout.html" %}


{% block body %}
<div class="container-fluid container-fixed-lg">
    <div class="row">
        <div class="col-xs-6 col-md-1"></div>
        <div class="col-xs-6 col-md-10">
            <!-- START PANEL -->
            <div class="panel panel-transparent">
                <div class="panel-title">
                    <p style="text-align: center; font-size: large">
                        <strong>لیست پرسش‌نامه‌ها</strong>
                    </p>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th><p style="text-align: center; color: darkslategray; font-family: BYekan">عنوان
                                    پرسش‌نامه</p></th>
                                <th><p style="text-align: center; color: darkslategray; font-family: BYekan">توضیحات</p>
                                </th>
                                {% if session.admin %}
                                <th><p style="text-align: center; color: darkslategray; font-family: BYekan">تعداد
                                    واژه‌ها</p></th>
                                <th><p style="text-align: center; color: darkslategray; font-family: BYekan">
                                    فعال/غیرفعال</p></th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for questionnaire in questionnaireList %}
                            {% if (not questionnaire.isActive and session.admin) or questionnaire.isActive %}
                            <tr>
                                {% if not session.admin %}
                                {% if questionnaire.isCompletedByUser %}
                                <td class="v-align-middle bold">
                                    <button type="button" class="btn" style="font-family: BYekan" disabled>
                                        {{ questionnaire.subject }}
                                    </button>
                                </td>
                                {% else %}
                                <td class="v-align-middle bold">
                                    <button type="button" class="btn" data-toggle="modal"
                                            data-target="#questionnaireOptions"
                                            style="font-family: BYekan">
                                        {{ questionnaire.subject }}
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="questionnaireOptions" role="dialog">
                                        <div class="modal-dialog">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close"
                                                            data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title" id="modalTitle"
                                                        style="font-family: BYekan"></h4>
                                                </div>
                                                <div class="modal-body"
                                                     style="color: darkslategray; font-family: BYekan">
                                                    <br><br>

                                                    <p>در این قسمت شما واژه‌های مختلف را مشاهده می‌کنید و می‌توانید برای
                                                        هر کدام اولین کلمه‌ای که به ذهنتان می‌رسد را ثبت کنید.</p>
                                                    <button type="button"
                                                            onclick="addPack('{{ questionnaire.id }}',false)">شروع
                                                        پرسش‌نامه‌ی اسمی
                                                    </button>
                                                    {% if questionnaire.isPictorial %}
                                                    <p>در این قسمت شما تصاویر مختلف را مشاهده می‌کندی و می‌توانید برای
                                                        هر کدام اولین کلمه‌ای که به ذهنتان می‌رسد را ثبت کنید.</p>
                                                    <button type="button"
                                                            onclick="addPack('{{ questionnaire.id }}',true)">شروع
                                                        پرسش‌نامه‌ی اسمی
                                                    </button>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                {% endif %}
                                <td>{{ questionnaire.moreInfo }}</td>
                                {% else %}
                                <td class="v-align-middle bold">{{ questionnaire.subject }}</td>
                                <td>{{ questionnaire.moreInfo }}</td>
                                <td>
                                    <button type="button" class="btn" data-toggle="modal"
                                            onclick="setQuestionnaieInfoOnModal('{{ questionnaire.id }}')"
                                            data-target="#questionnaieInfoModal">
                                        {{ questionnaire.stimulusCount }}
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="questionnaieInfoModal" role="dialog">
                                        <div class="modal-dialog">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close"
                                                            data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title" id="modalTitle"
                                                        style="font-family: BYekan"></h4>
                                                </div>
                                                <div class="modal-body"
                                                     style="color: darkslategray; font-family: BYekan">
                                                    <br><br>

                                                    <div id="hasPic" style="display: none">
                                                        <h5 style="font-family: BYekan">واژه‌های با تصویر</h5>

                                                        <p id="modalHasPic"></p>
                                                        <button type="button">
                                                            <a href="">مشاهده تصاویر</a>
                                                        </button>
                                                    </div>
                                                    <div id="hasNotPic" style="display: none">
                                                        <h5 style="font-family: BYekan">واژه‌های بدون تصویر</h5>

                                                        <p id="modalHasNotPic"></p>
                                                        <button type="button">
                                                            <a href="{{ url_for('editQuestionnaire', questionnaire_id=questionnaire.id) }}">افزودن
                                                                تصویر به واژه‌ها</a>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                {% if questionnaire.isActive %}
                                <td><input type="checkbox" data-init-plugin="switchery" data-size="small" checked
                                           onchange="changeActivationStatus('{{ questionnaire.id }}')"/></td>
                                {% else %}
                                <td><input type="checkbox" data-init-plugin="switchery" data-size="small"
                                           onchange="changeActivationStatus('{{ questionnaire.id }}')"/></td>
                                {% endif %}
                                {% endif %}
                            </tr>
                            {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
            <!-- END PANEL -->
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block js %}
<script type="text/javascript">
    function addPack(questionnaireId, isPictorial) {
        $.ajax({
            type: "POST",
            url: '/addPack',
            data: JSON.stringify({
                isChosen: '{{ isChosen }}',
                isPictorial: isPictorial,
                questionnaireId: questionnaireId
            }),
            contentType: 'application/json;charset=UTF-8',
            success: function (result) {
                window.location = result;
            }
        });
    }

    function changeActivationStatus(questionnaireId) {
        $.ajax({
            type: "POST",
            url: '/changeActivationStatus',
            data: JSON.stringify({
                questionnaireId: questionnaireId
            }),
            contentType: 'application/json;charset=UTF-8',
            success: function (result) {
            }
        });
    }
    function setQuestionnaieInfoOnModal(questionnaireId) {
        $.ajax({
            type: "POST",
            url: '/getModalContent',
            data: JSON.stringify({
                questionnaireId: questionnaireId
            }),
            contentType: 'application/json;charset=UTF-8',
            success: function (result) {
                title = result['title'];
                hasPicStr = result['hasPicStr'];
                hasNotPicStr = result['hasNotPicStr'];

                document.getElementById("modalTitle").innerHTML = title;
                if (hasPicStr.localeCompare('')) {
                    document.getElementById("hasPic").style.display = 'block';
                    document.getElementById("modalHasPic").innerHTML = hasPicStr;
                }
                if (hasNotPicStr.localeCompare('')) {
                    document.getElementById("hasNotPic").style.display = 'block';
                    document.getElementById("modalHasNotPic").innerHTML = hasNotPicStr;
                }
            }
        });
    }

</script>
{% endblock %}