{% extends "layout.html" %}

{% macro render_field(field) %}
<div> {{ field.label }}<br><br>

    <div>{{ field(class="form-control") }}</div>
</div>
{% if field.errors %}
<ul class="errors">{% for error in field.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endmacro %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-md-4"></div>
        <div class="col-xs-6 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div style="border: outset; border-radius: 5px; padding: 10px">
                        نام پرسش‌نامه: {{questionnaire.subject}}<br>
                        توضیحات: {{questionnaire.moreInfo}}<br>
                        تعداد کاربرانی که در این پرسشنامه مشارکت کردند: {{questionnaire.userNumber}}
                    </div>
                </div>
                <div class="panel-body" style="color:#083C32;">
                    {% if questionnaire.isExistUnansweredPhrase %}
                    <div class="col-md-11">
                        <button class="btn" type="button" onclick="addPack(false)"
                                style="width: 220px; margin: 10px">شروع پرسش‌نامه اسمی
                    </button>
                    </div>
                    {% endif %}
                    {% if questionnaire.isExistUnansweredPicture %}
                    <div class="col-md-11">
                        <button class="btn" type="button" onclick="addPack(true)"
                                style="width: 220px; margin: 10px">شروع پرسش‌نامه تصویری
                        </button>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block js %}
<script type="text/javascript">
    function addPack(isPictorial) {
        $.ajax({
            type: "POST",
            url: '/addPack',
            data: JSON.stringify({
                isPictorial: isPictorial,
                questionnaireId: '{{questionnaire.id}}'
            }),
            contentType: 'application/json;charset=UTF-8',
            success: function (result) {
                window.location = result;
            }
        });
    }

</script>
{% endblock %}

