{% extends "layout.html" %}

{% macro render_field(field) %}
<div> {{ field.label }}<br><br>

    <div>{{ field(class="form-control") }}</div>
</div>
{% if field.errors %}
<ul class="errors">{% for error in field.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endmacro %}


{% block body %}
<br><br>
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-md-4"></div>
        <div class="col-xs-6 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 style="text-align: center;">
                        <strong> ثبت نام</strong>
                    </h4>
                </div>
                <div class="panel-body" div style="color:#083C32">
                    <form method=post action="/register">
                        <dl>
                            {{ render_field(form.firstname) }}
                            {{ render_field(form.lastname) }}
                            {{ render_field(form.username) }}
                            {{ render_field(form.email) }}
                            {{ render_field(form.password) }}
                            {{ render_field(form.confirm) }}
                        </dl>
                        <p><input type=submit class="btn btn-success btn-block"
                                  style="background-color: #18bc9c" value=تایید>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

